@import './helpers/variables';  // use local variables
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

body {
    background-color: $primary;
}

footer {
    text-align: center;
    background-color: $primary;
    color: rgba(255, 255, 255, 0.5);
}

textarea {
    resize: none;
}

#main-container {
    height: 100%;
    background-color: white;
}

#main {
    min-height: 100vh;
    padding: 2% 10%;
}

#login-main {
    min-height: 100vh;
    padding: 15% 40%;
    text-align: center;
}

#case-main {
    min-height: 100vh;
    padding: 2% 15%;
}

#detail-main {
    min-height: 100vh;
    padding: 2% 8%;
}

.login-alert {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: small;
    color: #721c24;
    padding: .25rem .5rem;
    margin: 0rem 5rem 1rem 5rem;
}

.main-navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.close-query-tab {
    height: 18px;
}

.active-query-tab {
    font-weight: bold;
}

.filter-selection {
    padding: 0% 10%;
}

.search-element {
    background: #fff url(../assets/search.png) 8px 5px no-repeat;
    background-size: 20px;
    padding: 0 15px 0 30px;
    border-radius: 15px;
}

.selection-block {
    border: 1px solid lightgray;
}

.selection-dropdown {
    overflow: scroll;
    max-height: 150px;
}

.click-cursor {
    cursor: pointer;
}

.sem-badge {
    @extend .badge;
    color: rgb(0, 0, 0);
    font-size: unset;
    font-weight: unset;
    margin-left: 1px;
    margin-right: 1px;
}

.sem-name {
    display: inline;
    font-size: xx-small;
    font-weight: 700;
    font-style: italic;
}

.sem-badge.semgroup {
    background-color: #92b3a5;
}

.sem-badge.semtype {
    background-color: #648e93;
}

.case-subject-column {
    width: 25%;
}

.progress-column {
    width: 12%;
}

.triplet-subject-column {
    width: 20%;
}

.count-column {
    width: 17%;
}

.range-column {
    width: 10%;
}

.label-column {
    width: 13%;
}

.show-detail-column {
    width: 2%;
}

.sentence-column {
    width: 40%
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.progress {
    position: relative;
}

.progress-bar-title {
    position: absolute;
    text-align: center;
    line-height: 2rem;
    overflow: hidden;
    color: black;
    right: 0;
    left: 0;
    top: 0;
}
